/* Header styles */
.header {
    padding: 27px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo {
    display: flex;
    align-items: center;
}

.header .logo-text {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 29.4927px;
    line-height: 29px;
    color: #5051F9;
    margin-left: 7.06px;
}

.header .main-navigation__items {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .main-navigation__item a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--nav-link-color)
}

/* Hero styles */
.hero {
    padding: 150px 0;
}

.hero .container {
    display: flex;
    justify-content: space-between;
}

.hero .hero-title {
    font-weight: 900;
    font-size: 76px;
    line-height: 90px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.hero .hero-desc {
    max-width: 511px;
    margin-top: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: rgba(11, 17, 53, 0.5);
}

/* Courses section */
.courses .course-items {
    padding: 76px 0;
}

.courses .title {
    max-width: 433px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 64px;
    line-height: 65px;
    color: var(--primary-text-color);
}

.courses .course-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-items .course-item {
    width: calc(100% / 3 - 65px);
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.05), 
                0px 5px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 21.1429px;
}

.course-items .course-item__img {
    border-radius: 21.1429px;
}

.course-item__img-wrapper .overly {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.35);
    backdrop-filter: blur(6.5px);
    border-top-left-radius: 21.1429px;
    border-top-right-radius: 21.1429px;
    color: #fff;
    padding: 0 53px;
    position: absolute;
    top: 0;
    left: 0;
}

.course-item__img-wrapper {
    position: relative;
}

.course-item__info {
    padding: 30px;
}

.course-item__info .course-type{
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: var(--secondary-text-color);
}

.course-item__info .course-name {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: #263238;
}

.course-item__info .course-time {
    font-size: 14px;
    line-height: 26px;
    color: var(--secondary-text-color);
}

.course-item__info .course-price {
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    color: #5051F9;
    margin-top: 25px;
}

/* Our mission styles*/

.our-mission .container {
    display: flex;
    align-items: center;
}

.our-mission .about {
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.1em;
    color: #5051F9;
    opacity: 0.8;
}

.our-mission .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 57px;
    text-transform: capitalize;
    color: #0B1135;
    margin-bottom: 64px;
}

.our-mission__info .subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #0B1135;
}

.our-mission__info .desc {
    max-width: 616px;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    text-transform: capitalize;
    color: rgba(11, 17, 53, 0.4);
}

.our-mission__info .square {
    margin-top: 30px;
}

/* Our team styles */
.team {
    padding: 60px 0;
}

.team .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 57px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 40px;
}

.team .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team .container .profile {
    max-width: 385px;
    width: 100%;
    text-align: center;
    padding: 0 34px;
}

.team .profile .profile-name {
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-top: 20px;
    margin-bottom: 6px;
}

.team .profile .profile-job {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    opacity: 0.5;
}

.team .profile .experience {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-top: 32px;
}

/* Our graduates styles*/
.graduates .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 57px;
    text-transform: capitalize;
    color: #0B1135;
    margin-bottom: 40px;
}

.graduates .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.graduates .left, .graduates .right{
    width: calc(100% / 2 - 30px);
}

.graduates .left > div img, .graduates .right > div img {
    width: 100%;
    border-radius: 10px;
}

.graduates .left > div, .graduates .right > div {
    margin-top: 15px;
    border-radius: 10px;
}

/* Contact styles */
.contact {
    padding: 60px 0;
}

.contact .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5051F9;
    border-radius: 10px;
    padding: 90px 120px;
}

.contact .title {
    max-width: 623px;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: capitalize;
    color: #fff;
}

.contact-btn {
    width: 234px;
    height: 70px;
    padding: 20px 54px;
    background: #fff;
    box-shadow: 0px 34px 40px rgba(44, 45, 109, 0.2);
    border-radius: 85px;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #000;
}

/* Footer section */
.footer {
    padding: 0 50px;
}

.footer .container .logo {
    display: flex;
    align-items: center;
}

.footer .logo-text {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 29.4927px;
    line-height: 29px;
    color: #5051F9;
    margin-left: 7.06px;
}

.footer .social-network__wrapper {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.social-networks > div:not(:last-child){
    margin-right: 20px;
}

.footer .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #5051F9;
}

.navigation-container {
    padding: 40px 0;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation-wrapper .main-navigation__items {
    max-width: 662px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .company {
    margin-bottom: 30px;
}

.footer .main-navigation__item a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--nav-link-color)
}

.footer .email{
    margin-bottom: 10px;
}

.footer .email a {
    color: rgba(0, 0, 0, 0.6);
}

.footer .tel {
    font-weight: 700;
    line-height: 30px;
}

.footer .tel a{
    color: #000;
}

.copy-text {
    font-size: 14px;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}